- content_for(:facebook) do
  - photo = @featured_photo
    %meta{:property => "og:title", :content => photo.title}
    %meta{:property => "og:image", :content => photo.main_image.url}

- content_for(:tags_nav) do
  = render 'shared/tags'

#photos_container
  - @channel_photos.each_with_index do |cp, i|
    = render "channel", :cp => cp, :i => i
