.bundle
.DS_Store
.idea
db/*.sqlite3
log/*
spec/fixtures/*.yml
tmp/*
tmp/**/*
public/uploads/tmp/*
public/uploads/tmp/**/*
.bootstrapped-complete
.bootstrapped-database
.bootstrapped-rvm
id_rsa_youbeauty_ci
id_rsa_youbeauty_ci.pub
rails_best_practices_output.html
Article_state.png
db/sphinx
config/*.sphinx.conf
public/stylesheets/compiled/*
public/assets/*
public/uploads/*
fixture_builder
dump.rdb
