%h2 Edit #{@photo.name.titleize}

.section.titleized

  = render 'form', :photo => @photo

  = link_to "Cancel", admin_photos_path, :class => "small-button"
  = button_to "Delete Photo", admin_photo_path(@photo), :method => :delete, :class => "small-button", :confirm => "Are you sure you want to delete this photo?"