- tags = @channel.photos.collect {|x| x.tags}
.tag_names
  %ul

    - tag_name = tags.flatten.collect {|x| x.name}.uniq
    - tag_name.sort_by {|x| x}.each do |name|
      %li
        = link_to name, "#"