%h2 Tags
= link_to "Add New Tag", new_admin_tag_path, :class => "small-button"
.section
  %table.datatable
    %thead
      %tr
        %th Name
        %th Number of Photos
        %th Channels
    %tbody
      - @tags.each do |tag|
        %tr
          %td= link_to tag.name, [:admin, tag]
          %td= tag.photos.count
          %td
            = tag.channels.collect { |channel| link_to channel.name.titleize, edit_admin_channel_path(channel) }.join(", ").html_safe