@import 'bourbon';

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  padding: 0;
  margin: 0;
  background: #DDDDDD;
  overflow-y: scroll;
  a {
    color: black;
    text-decoration: none;
    @include transition;
    &:hover {
      color: #8B8B8B;
      text-decoration: underline;
    }
  }
  p {
    margin: 0;
  }
  .body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
    .content {
      padding: 185px 0 0 40px;
      width: 99%;
      margin: 0 auto;
    }
  }
  .footer, .push {
    height: 150px;
  }
  &.photos.show {
    .content {
      padding: 165px 0 0;
      width: 57%;
      min-width: 57%;
      h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px
      }
      a {
        text-align: center;
        display: block;
        margin-bottom: 20px;
      }
      .image_wrapper {
        position: relative;
        margin: 0 auto;
        width: 40% !important;
        .fb-like, .pinit {
          position: absolute;
          z-index: 1;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          top: 20px;
          @include transition;
        }
        .fb-like {
          left: 70px;
        }
        .pinit {
          left: 20px;
          a {
            @include transition(0);
          }
        }
        img {
          display: block;
          margin: 0 auto;
          background: white;
          padding: 10px;
          margin-bottom: 40px;
          box-shadow: 0 4px 2px -2px #bbbbbb;
          -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
          -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
          -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
          max-width: 100%;
          height: auto;
        }
        &:hover {
          .fb-like, .pinit {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
          }
        }
      }
    }
  }
}
