@import 'bourbon';

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &.stuck {
    .white {
      height: 34px;
      background: black;
      .nav_wrapper {
        .logo {
          h1 {
            font-size: 43px;
            padding: 0;
            color: white;
            span.photo {
              opacity: 0;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.9)";
            }
          }
          &:hover {
            h1 {
              color: #8B8B8B;
            }

          }
        }
        .social {
          bottom: 40px;
        }
        .info {
          color: white;
          bottom: 40px;
          a {
            color: white;
            &:hover {
              color: #8B8B8B;
            }
          }
        }
      }
    }
  }
  .white {
    background: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    z-index: 2;
    height: 90px;
    @include clearfix;
    @include transition;
    .nav_wrapper {
      padding: 0 40px;
      min-width: 94%;
      margin: 0 auto;
      position: relative;
      .logo {
        width: 320px;
        margin: 0 auto;
        display: block;
        h1 {
          font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          font-size: 60px;
          font-weight: 300;
          line-height: 39px;
          margin: 0;
          padding-top: 5px;
          text-align: center;
          @include transition;
          span {
            font-weight: 600;
            &.photo {
              font-weight: 300;
              font-size: 41px;
              opacity: 1;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
            }
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        position: absolute;
        bottom: 10px;
        right: 4%;
        @include transition;
      }
      .social {
        position: absolute;
        bottom: 10px;
        width: 200px;
      }
    }
  }
  .navigation, .tag_names {
    min-width: 90%;
    border-bottom: 1px solid black;
    background: #dddddd;
    z-index: 1;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.9)";
    @include clearfix;
    ul {
      position: relative;
      float: left;
      left: 50%;
      padding: 0;
      list-style: none;
      @include clearfix;
      margin: 6px 0;
      li {
        position: relative;
        right: 50%;
        float: left;
        font-size: 17px;
        margin-right: 50px;
        text-transform: lowercase;
        a {
          @include transition(0);
          &.selected {
            color: #8B8B8B;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .tag_names {
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}