@import 'bourbon';

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #dddddd;
  z-index: 9999;
  .white {
    background: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    @include clearfix;
    .nav_wrapper {
      width: 1280px;
      margin: 0 auto;
      .logo {
        h1 {
          font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          font-size: 73px;
          font-weight: 300;
          line-height: 49px;
          width: 320px;
          margin: 0 auto;
          padding-top: 5px;
          span {
            font-weight: 600;
            &.photo {
              font-weight: 300;
              font-size: 49px;
            }
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        float: right;
        text-align: right;
        margin-top: -40px;
        padding-top: 10px;
      }
      .social {
        position: absolute;
        bottom: 20px;
        width: 200px;
      }
    }
  }
  .navigation, .tag_names {
    min-width: 1345px;
    margin: 0 60px 0 40px;
    border-bottom: 1px solid black;
    @include clearfix;
    ul {
      position: relative;
      float: left;
      left: 50%;
      padding: 0;
      list-style: none;
      @include clearfix;

      li {
        position: relative;
        right: 50%;
        float: left;
        font-size: 22px;
        margin-right: 50px;
        text-transform: lowercase;
        a {
          @include transition(0);
          &.selected {
            color: #8B8B8B;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .tag_names {
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}