@import 'bourbon';

#photos_container {
  margin-right: -10px;
  .photo_wrapper {
    margin: 0 10px 10px 0;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    position: relative;
    span.wrapper {
      display: block;
      overflow: hidden;
      @include transition;
      &.small {
        &.portrait {
          height: 333px;
        }
        &.landscape {
          height: 333px;
        }
      }
      &.large {
        &.portrait {
          height: 696px;
        }
        &.landscape {
          height: 450px;
        }
      }
    }
    .frame {
      position: absolute;
      top: 0;
      left: 0;
      border: 10px solid white;
      z-index: 1;
      &.small {
        &.portrait {
          width: 239px;
          height: 333px;
        }
        &.landscape {
          width: 510px;
          height: 333px;
        }
      }
      &.large {
        &.portrait {
          width: 510px;
          height: 696px;
        }
        &.landscape {
          width: 780px;
          height: 450px;
        }
      }
    }
    .fb-like, .pinit {
      position: absolute;
      z-index: 2;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      top: 20px;
      @include transition;
    }
    .fb-like {
      left: 70px;
    }
    .pinit {
      left: 20px;
      a {
        @include transition(0);
      }
    }
    img {
      width: 150%;
      margin-left: -24%;
      margin-top: -18%;
      -ms-interpolation-mode: bicubic;
    }
    &.small {
      z-index: 0;
      &.portrait {
        width: 239px;
        height: 333px;
        .caption {
          width: 84.5%;
          .black {
            width: 239px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
      &.landscape {
        width: 510px;
        height: 333px;
        .caption {
          width: 92.5%;
          .black {
            width: 510px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
    &.large {
      z-index: 0;
      &.portrait {
        width: 510px;
        height: 696px;
        .caption {
          width: 92.5%;
          .black {
            width: 510px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
      &.landscape {
        width: 780px;
        height: 450px;
        .caption {
          width: 84.5%;
          .black {
            width: 780px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
    a {
      position: relative;
      display: block;
      overflow: hidden;
    }
    &:hover {
      z-index: 1;
      .fb-like, .pinit {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      }
      span.wrapper {
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.5)";
      }
      .caption {
        bottom: 0;
      }
    }
    .caption_wrap {
      overflow: hidden;
      display: block;
      height: 70px;
      bottom: 10px;
      position: absolute;
      width: 100%;
    }
    .caption {
      position: absolute;
      bottom: -65px;
      padding-left: 10px;
      height: 0px;
      @include transition;
      z-index: 5;
      &.small {
        &.portrait {
          .caption {
            width: 84.5%;
            .black {
              width: 239px;
            }
          }
        }
        &.landscape {
          .caption {
            width: 92.5%;
            .black {
              width: 510px;
            }
          }
        }
      }
      &.large {
        &.portrait {
          .caption {
            width: 92.5%;
            .black {
              width: 510px;
            }
          }
        }
        &.landscape {
          .caption {
            width: 84.5%;
            .black {
              width: 780px;
            }
          }
        }
      }
      .black {
        background: black;
        opacity: .6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.6)";
        display: block;
        height: 65px;
        margin-left: -10px;
        bottom: 0;
        position: absolute;
      }
      p {
        color: white;
        font-size: 17px;
        position: absolute;
        bottom: 5px;
        padding: 10px 10px 0px;
      }
    }
  }
}
