@import 'bourbon';

#photos_container {
  margin-right: -10px;
  .photo_wrapper {
    margin: 0 10px 10px 0;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 2px -2px #bbbbbb;
    -webkit-box-shadow: 0 4px 2px -2px #bbbbbb;
    -moz-box-shadow: 0 4px 2px -2px #bbbbbb;
    -ms-box-shadow: 0 4px 2px -2px #bbbbbb;
    position: relative;
    .fb-like, .pinit {
      position: absolute;
      z-index: 1;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      top: 20px;
      @include transition;
    }
    .fb-like {
      left: 70px;
    }
    .pinit {
      left: 20px;
      a {
        @include transition(0);
      }
    }
    &.small {
      z-index: 0;
      &.portrait {
        width: 239px;
        height: 333px;
        img {
          width: 239px;
          -ms-interpolation-mode: bicubic;
        }
        .caption {
          width: 84.5%;
          .black {
            width: 239px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
      &.landscape {
        width: 510px;
        height: 333px;
        img {
          width: 510px;
          -ms-interpolation-mode: bicubic;
        }
        .caption {
          width: 92.5%;
          .black {
            width: 510px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
    &.large {
      z-index: 0;
      &.portrait {
        width: 510px;
        height: 696px;
        img {
          width: 510px;
          -ms-interpolation-mode: bicubic;
        }
        .caption {
          width: 92.5%;
          .black {
            width: 510px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
      &.landscape {
        width: 780px;
        height: 450px;
        img {
          width: 780px;
          -ms-interpolation-mode: bicubic;
        }
        .caption {
          width: 84.5%;
          .black {
            width: 780px;
          }
        }
        &.isotope-hidden {
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
    img {
      @include transition;
    }
    a {
      position: relative;
      display: block;
      overflow: hidden;
      .caption {
        position: absolute;
        bottom: -65px;
        padding: 10px;
        @include transition;
        .black {
          background: black;
          opacity: .6;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.6)";
          display: block;
          height: 65px;
          margin-left: -10px;
          bottom: 0;
          position: absolute;
        }
        p {
          color: white;
          font-size: 17px;
          position: absolute;
          bottom: 10px;
        }
      }
    }
    &:hover {
      z-index: 1;
      .fb-like, .pinit {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      }
      img {
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.5)";
      }
      a {
        .caption {
          bottom: 0;
        }
      }
    }
  }
}
